# Build-related directories and files
build/
venv/

# Cache directories
__pycache__/
.task/

# Misc
output.json
/mongod
/data/**
!/data/*
!/data/*/metadata.yaml
/exceptions.log
/log-archival-bench.xlsx
/outputs
